{% extends "base.html" %}

{% block content %}
<form action='/newpost' method='post'>
    <table>
        <tr>
            <td><label for="title">Title:</label></td>
            <td>
                <input name="title" type="text" value="{{ title }}" required>
            </td>
        </tr>

        <tr>
            <td><label for="body">Your new blog:</label></td>
            <td>
                <textarea name="body" required></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Entry">
</form>
{% endblock %}